<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="factoryMethod" value="FactoriesDemo.FactoryMethod.Factories.FactoryA"/>
    <add key="abstractFactory" value="FactoriesDemo.AbstractFactory.Factories.FactoryB"/>
  </appSettings>
</configuration>