<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="authUrl" value="https://authservice.com" />
    <add key="apiUrl" value="https://apiservice.com" />
    <add key="clientId" value="qwert" />
    <add key="clientSecret" value="4dkQ1" />
  </appSettings>
</configuration>